.cardSwapContainer {
  position: relative;
  perspective: 1000px;
  overflow: visible;
}

.card {
  position: absolute;
  top: 75%;
  left: 90%;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: var(--foreground-color);
  
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  
  transform-style: preserve-3d;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card h3 {
  color: var(--background-color);
  display: flex;
  padding: 12px 18px;
  margin: 0;
  font-size: 1.1rem;
}

.card img {
  width: 100% !important;
  height: 100% !important;
  flex: 1;
  object-fit: cover;
  object-position: top;
  display: block;
}
